[submodule "mlp/extern/oscpack"]
	path = mlp/extern/oscpack
	url = git@github.com:catfact/oscpack.git
[submodule "mlp/extern/rtaudio"]
	path = mlp/extern/rtaudio
	url = https://github.com/thestk/rtaudio.git
