[submodule "mlp/extern/oscpack"]
	path = extern/oscpack
	url = git@github.com:catfact/oscpack.git
[submodule "mlp/extern/rtaudio"]
	path = extern/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "extern/JUCE"]
	path = mlp-plug/JUCE
	url = https://github.com/juce-framework/JUCE.git
